MDTI_Get_Intel_Profile_to_SPO/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "MDTI_Get_Intel_Profile_to_SPO",
            "type":  "string"
        },
        "ClientID":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for ClientID"
            }
        },
        "Secret":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Secret"
            }
        },
        "Tenant":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Tenant"
            }
        }
    },
    "variables":  {
        "SharepointonlineConnectionName":  "[concat('Sharepointonline-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        },
                        "ClientID":  {
                            "defaultValue":  "[parameters('ClientID')]",
                            "type":  "string"
                        },
                        "Secret":  {
                            "defaultValue":  "[parameters('Secret')]",
                            "type":  "string"
                        },
                        "Tenant":  {
                            "defaultValue":  "[parameters('Tenant')]",
                            "type":  "string"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "frequency":  "Day",
                                "interval":  1
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Day",
                                "interval":  1
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "For_each":  {
                            "foreach":  "@body('Parse_JSON_-_Intel_Profile_IDs')?['value']",
                            "actions":  {
                                "Create_file":  {
                                    "runAfter":  {
                                        "Parse_JSON_-_Get_Intel_Profiles":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  "@body('Parse_JSON_-_Get_Intel_Profiles')",
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "path":  "/datasets/@{encodeURIComponent(encodeURIComponent('https://[YOUR_DOMAIN].sharepoint.com/sites/ChatTI'))}/files",
                                        "queries":  {
                                            "folderPath":  "/Shared Documents/TI_Articles",
                                            "name":  "@{items('For_each')?['id']}_@{items('For_each')?['title']}.json",
                                            "queryParametersSingleEncoded":  true
                                        }
                                    },
                                    "runtimeConfiguration":  {
                                        "contentTransfer":  {
                                            "transferMode":  "Chunked"
                                        }
                                    }
                                },
                                "Get_New_Intel_Profiles":  {
                                    "runAfter":  {
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "authentication":  {
                                            "audience":  "https://graph.microsoft.com",
                                            "clientId":  "@variables('application')",
                                            "secret":  "@variables('secret')",
                                            "tenant":  "@variables('Tenant')",
                                            "type":  "ActiveDirectoryOAuth"
                                        },
                                        "method":  "GET",
                                        "uri":  "https://graph.microsoft.com/beta/security/threatIntelligence/intelProfiles/@{items('For_each')?['id']}"
                                    }
                                },
                                "Parse_JSON_-_Get_Intel_Profiles":  {
                                    "runAfter":  {
                                        "Get_New_Intel_Profiles":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('Get_New_Intel_Profiles')",
                                        "schema":  {
                                            "properties":  {
                                                "@@odata.context":  {
                                                    "type":  "string"
                                                },
                                                "aliases":  {
                                                    "type":  "array"
                                                },
                                                "countriesOrRegionsOfOrigin":  {
                                                    "type":  "array"
                                                },
                                                "description":  {
                                                    "properties":  {
                                                        "content":  {
                                                            "type":  "string"
                                                        },
                                                        "format":  {
                                                            "type":  "string"
                                                        }
                                                    },
                                                    "type":  "object"
                                                },
                                                "firstActiveDateTime":  {
                                                    "type":  "string"
                                                },
                                                "id":  {
                                                    "type":  "string"
                                                },
                                                "kind":  {
                                                    "type":  "string"
                                                },
                                                "summary":  {
                                                    "properties":  {
                                                        "content":  {
                                                            "type":  "string"
                                                        },
                                                        "format":  {
                                                            "type":  "string"
                                                        }
                                                    },
                                                    "type":  "object"
                                                },
                                                "targets":  {
                                                    "type":  "array"
                                                },
                                                "title":  {
                                                    "type":  "string"
                                                },
                                                "tradecraft":  {
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                                "Parse_JSON_-_Intel_Profile_IDs":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        },
                        "Get_New_Intel_Profile_IDs":  {
                            "runAfter":  {
                                "application":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Http",
                            "inputs":  {
                                "authentication":  {
                                    "audience":  "https://graph.microsoft.com",
                                    "clientId":  "@variables('application')",
                                    "secret":  "@variables('secret')",
                                    "tenant":  "@variables('Tenant')",
                                    "type":  "ActiveDirectoryOAuth"
                                },
                                "method":  "GET",
                                "uri":  "https://graph.microsoft.com/beta/security/threatIntelligence/intelProfiles?$top=50\u0026$select=title"
                            }
                        },
                        "Parse_JSON_-_Intel_Profile_IDs":  {
                            "runAfter":  {
                                "Get_New_Intel_Profile_IDs":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@body('Get_New_Intel_Profile_IDs')",
                                "schema":  {
                                    "properties":  {
                                        "@@odata.context":  {
                                            "type":  "string"
                                        },
                                        "@@odata.nextLink":  {
                                            "type":  "string"
                                        },
                                        "value":  {
                                            "items":  {
                                                "properties":  {
                                                    "id":  {
                                                        "type":  "string"
                                                    },
                                                    "title":  {
                                                        "type":  "string"
                                                    }
                                                },
                                                "required":  [
                                                    "id",
                                                    "title"
                                                ],
                                                "type":  "object"
                                            },
                                            "type":  "array"
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Secret":  {
                            "runAfter":  {
                                "Tenant":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "secret",
                                        "type":  "string",
                                        "value":  "[parameters('Secret')]"
                                    }
                                ]
                            }
                        },
                        "Tenant":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Tenant",
                                        "type":  "string",
                                        "value":  "[parameters('Tenant')]"
                                    }
                                ]
                            }
                        },
                        "application":  {
                            "runAfter":  {
                                "Secret":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "application",
                                        "type":  "string",
                                        "value":  "[parameters('ClientID')]"
                                    }
                                ]
                            }
                        }
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "sharepointonline":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('SharepointonlineConnectionName'))]",
                                "connectionName":  "[variables('SharepointonlineConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Sharepointonline')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "MDTI_Get_Intel_Profile_to_SPO",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('SharepointonlineConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('SharepointonlineConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('SharepointonlineConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Sharepointonline')]"
                }
            }
        }
    ]
}